// ログイン画面

// .login_view{
//   width: 100%;
//   background-color: white;
//   text-align: center;
//   h2 {
//     font-style: normal;
//     span{
//       font-weight: bold;
//     }
//   }
//   h1{
//     text-align: center;
//     font-size: 72px;

//   }
//   p{
//     span{
//       font-style: italic;
//       font-weight: 600;
//       color: red;
//     }
//   }
//   .login{
//     margin-bottom: 50px;
//   }
//   .welcome{
//     margin-bottom: 40px;
//   }
//   .actual{
//     display: flex;
//     margin: 50px 0 0 0;

//     .forming{
//       width: 50%;
//       border-right: 2px solid #E5E5E5;
//       padding: 15px;

//       input{
//         width: 100%;
//         // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
//       }
//     }
//     .socially{
//       width: 50%;
//       padding: 15px;
//       text-align: center;

//       .otherwise {

//         .facebook {
//           background-color: #3b5399;
//           padding: 10px;
//           border-radius: 10px;
//         }
//         .google {
//           background-color: #de1710;
//           margin-top: 15px;
//           padding: 10px;
//           border-radius: 10px;
//         }
//         a{
//           width: 100%;
//           color: white;
//           border-radius: 10px;
//           font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
//         }
//       }
//     }
//   }

//   .movetosignup{
//     margin: 27px 0 0 0;

//     a{
//       width: 232px;
//       margin: 9px 0;
//       // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
//     }
//   }
// }

// サインアップ画面

// .signup_view{
//   width: 100%;
//   background-color: white;
//   text-align: center;
//   h2 {
//     font-style: normal;
//     span{
//       font-weight: bold;
//     }
//   }
//   h1{
//     text-align: center;
//     font-size: 72px;

//   }
//   p{
//     span{
//       font-style: italic;
//       font-weight: 600;
//       color: red;
//     }
//   }
//   .signup{
//     margin-bottom: 50px;
//   }
//   .welcome{
//     margin-bottom: 40px;
//   }
//   .actual{
//     margin: 50px auto;
//     width: 70%;
//     padding-bottom: 20px;

//     input{
//       width: 100%;
//       padding: 10px;
//       border-radius: 7px;
//     }
//     .btn{
//       margin-top: 30px;
//       margin-bottom: 9px;
//     }
//   }
// }




// メールアドレス追加

// .add_email{
//   background-color: white;
//   text-align: center;
//   padding: 15px;
//   form{
//     margin-top: 40px;
//   }
//   p{
//     margin-top: 30px;
//   }
//   input{
//     margin: 10px auto 30px;
//     width: 80%;
//   }
// }








// パスワードリセット系

// .reset_pass{
//   background-color: white;
//   padding: 15px;
//   text-align: center;
//   form{
//     margin: 50px auto;
//     width: 70%;
//     .btn{
//       width: 100%;
//     }
//   }
// }
// .reset_key{
//   background-color: white;
//   padding: 15px;
//   text-align: center;
//   form{
//     margin: 50px auto;
//     width: 70%;
//     .btn{
//       margin-top: 30px;
//       width: 100%;
//     }
//   }
// }

// .reset_done{
//   background-color: white;
//   padding: 15px;
//   h1{
//     padding-bottom: 30px;
//   }
// }

// .reset_key_done{
//   background-color: white;
//   padding: 15px;
//   h1{
//     padding-bottom: 30px;
//   }
//   a{
//     color: #457AFB;
//   }

// }






// パスワード変更

// .change_password{
//   background-color: white;
//   text-align: center;
//   padding: 30px;

//   form{
//     margin: 30px auto 50px;
//     width: 80%;
//     font-size: 18px;
//     input{
//       margin-bottom: 33px;
//     }
//     .change{
//       margin-bottom: 0px;
//       margin-top: 40px;
//       padding: 10px;
//       width: 100%;
//     }
//   }
// }






// 設定

// .settings {
//   background-color: white;
//   padding: 20px;
//   h1{
//     margin-bottom: 30px;
//   }

//   .set_content{
//     margin-top: 30px;

//     a{
//       color: #457AFB;
//     }
//   }
// }

// NEW_CHOOSEONE

.cali {
  font-family: lust-script, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.cali2{
  font-family: latienne-pro, serif;
  font-style: normal;
  font-weight: 400;
}

.onepost{
  padding: 10px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 0px 5px rgba(160, 160, 160, 0.7));
  background-color: white;
  position: relative;
  border-radius: 15px;

  .link::after{
    position: absolute;
    top: 45px; right: 0; bottom: 0; left: 0;
    z-index: 1;
    pointer-events: auto;
    content: '';
    background-color: transparent;
  }

  a:hover{
    color: black;
    background:linear-gradient(transparent 70%, #45cafb 0%);
    text-decoration: none;
  }

  .link{
    color: black,
  }

  p{
    font-size: 12px;
  }
}







// 全体

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 170px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.body{
  background-color: #f1efef;
  font-family: latienne-pro, serif;
  font-style: normal;
  font-weight: 400;
  a{
    color: black;
  }
}

.date{
  font-family: georgia, serif;
  font-size: 12px;
  color: #457AFB
}




// ホーム

.container{
  padding-top: 15px;
  padding-bottom: 30px;
}

.home-container{
  display: flex;

  .main_list{
    width: 630px;
    height: auto;
    h3{
      font-family: lust-script, sans-serif;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }





  // 左バー

  .sort_order{
    display: none;
    margin-right: 30px;
    background-color: white;
    border-radius: 15px;
    width: 200px;
    padding: 8px;
    height: 100px;
    filter: drop-shadow(0px 0px 5px rgba(160, 160, 160, 0.7));

    h5{
      font-family: primot, sans-serif;
      font-style: normal;
      font-weight: 900;
    }
  }


  .left_side{
    margin-right: 30px;
    background-color: white;
    border-radius: 15px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: fit-content;
    filter: drop-shadow(0px 0px 5px rgba(160, 160, 160, 0.7));

    h5{
      font-family: lust-script, sans-serif;
      font-style: normal;
      font-weight: 700;
      padding-left: 7px;
    }
    .rank{
      .title{
        display: flex;
        flex-direction: row;
      }
      margin: 0px;
      h6{
        margin-top: 8px;
        margin-left: 2px;
        font-size: 12px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      label{
        font-size: 5px;
        padding: 0px;
        margin: 0px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      position: relative;

      .link::after{
        position: absolute;
        top: 0px; right: 0; bottom: 0; left: 0;
        z-index: 1;
        pointer-events: auto;
        content: '';
        background-color: transparent;
      }
    }
  }



  // 右バー

  .right_side{
    background-color: white;
    filter: drop-shadow(0px 0px 5px rgba(160, 160, 160, 0.7));
    border-radius: 15px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 221px;
    height: fit-content;

    h5{
      font-family: lust-script, sans-serif;
      font-style: normal;
      font-weight: 400;
      padding-left: 7px;
    }
    .rank{
      padding-left: 10px;
      .title{
        display: flex;
        flex-direction: row;
      }
      margin: 0px;
      h6{
        margin-top: 8px;
        margin-left: 2px;
        font-size: 12px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      label{
        font-size: 5px;
        padding: 0px;
        margin: 0px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      position: relative;

      .link::after{
        position: absolute;
        top: 0px; right: 0; bottom: 0; left: 0;
        z-index: 1;
        pointer-events: auto;
        content: '';
        background-color: transparent;
      }
    }
  }
}






// フッター

.footer {
  .container{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  float: clear;
  // display: flex;
  background-color: red;
  height: 170px;
  width: 100%;
  padding-top: 20px;
  position: absolute;
  bottom: 0px;

  .footer-logo{
    float: left;
  }

  .footer-list{
    float: right;
    padding-right: 10px;

    li{
      list-style: none;
      padding-bottom: 20px;
      color: white;
    }
  }
}







// モーダル

.add-modal-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;

  .modall {
    position: absolute;
    top: 20%;
    left: 35%;
    right: 35%;
    background-color: #F0EEEE;
    border-radius: 10px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px 5px 5px 20px;

    .close {
        position: absolute;
        top: 12px;
        right: 13px;
        color: rgba(0, 0, 0, 1);
        cursor: pointer;
    }

    #add-form {
      width: 90%;
      margin: 20px auto;
      padding: 0px 10px;

      h4{
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-size: 20px;
      }
      .whichone{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
      }
      .delete-post, .close-modal{
        justify-content: center;
        margin: 0 5px;
      }
      .btn{
        width: 80px;
        height: 35px;
        padding: 0px 10px;
        border-radius: 30px;
      }
    }

  }
}







// メッセージ

.messages_pos{
  position: fixed;
  top: 80px;
  left: 50%;
  margin-left: -82px;
}
.messages{
  text-align: center;
  background:#457AFB;
  padding:14px 20px;
  border-radius: 100px;
  color:#fff;
  font-size: 14px;
  list-style-type: none;
  opacity:1;
  animation-name: message;
  animation-duration:5s; 
  animation-fill-mode: forwards;

  .success { background:#457AFB; }
  .success a { color:#0ac33e; }
  .error { background:#a30029; color:#e9828e; }
  .error a { color:#e9828e; }
  .info { background:#faffae; color:#696b4e; }
  .info a { color:#1586de; }
  .warning { background:#de9404; }
  .warning a { color:#f49000; }
}

@keyframes message {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50%{
    opacity: 1;
    transform: translateY(0);
  }
 100% {
  opacity:0;
  transform: translateY(-30px);
 } 
}





// コンタクト

.contact{
  background-color: white;
  text-align: center;
  padding: 20px;
  p{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;

    span{
      color: red;
    }
  }
  .contact_form{
    width: 80%;
    margin: 10px auto 5px auto;
    // color: #457AFB;
    input{
      text-align: center;
    }
    textarea{
      border: 2px solid #E5E5E5;
    }
    .send{
      border: none;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      margin: 10px auto 20px auto;
    }
  }
}







// question_create

.add{
  background-color: white;
  height: auto;
  text-align: center;
  filter: drop-shadow(0px 0px 5px rgba(160, 160, 160, 0.7));
  padding: 10px 10px 10px 0px;
  border-radius: 15px;

  input[type=checkbox]{
    display: none;
  }
  .label{
    font-size: 1px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    width: 70px;
    height: 25px;
    line-height: 20px; 
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
    border: 0.1px solid #FEF0F0;
    border-radius: 25px;
  }
  .label:hover {
    background-color: #FFEDF0;
  }
  .categories {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
  }

  .actual{
    margin: 20px auto;
    width: 80%;
    padding-bottom: 20px;
    text-align: center;

    input{
      width: 100%;
      padding-bottom: 5px;
      padding-top: 5px;
      border-radius: 5px;
      // border: 2px solid #cfd3d8;
      // text-align: center;
    }

    h4{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .field{
      label{
        font-size: 24px;
      }
    }
    .buttons_normal, .buttons_small{
      margin-bottom: 22px;
      padding: 4px;
      justify-content: center;
      .btn{
        width: 185px;
        height: 45px;
        border-color: inherit;
        border-radius: 7px;
      }
    }
    .btn{
      height: 45px;
      border-color: inherit;
      border-radius: 7px;
    }
    .choice_form{
      margin-bottom: 0px;
    }
    p{
      font-size: 5px;
      margin-top: 15px;
      margin-bottom: 7px;
    }
    .red {
      color: red;
    }
  }
}

.buttons_small{
  display: none;
}

.fixed{
  position: absolute;
  bottom: 210px;
}



// このサイトについて

.about{
  background-color: white;
  padding: 15px;
  line-height: 30px;
  height: auto;
  h1{
    text-align: center;
  }
  p{
    text-indent: 2em;
  }
  strong{
    font-weight: 600;
    font-style: italic;
    // color: red;
  }
  h3{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bold;
  }
}






// ヘッダー

.header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 12000;
  background-color: red;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  // display: flex;
  .header-logo {
    margin-right: 36px;
  }
  .container{
    padding-top: 0px;
    padding-bottom: 0px;
    .navbar{
      padding-right: 0px;
      padding-left: 0px;
      .btn {
        height: 39px;
        margin-right: 0px;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
      }
      .btn :not(.home){
        margin-left: 0px;
      }
    }
    .answered{
      margin-left: 25px;
    }
    .pic_only{
      display: none;
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px;
    }
  }
}





// question_detail

.detail_container{
  .your_vote{
    font-size: 13px;
    margin-left: 5px;
    color: yellowgreen;
  }
  padding-top: 15px;
  width: 100%;
  padding-bottom: 30px;

  .similar_posts{
    h3{
      font-family: lust-script, sans-serif;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}

.block {
  filter: drop-shadow(0px 0px 5px rgba(160, 160, 160, 0.7));
  border-radius: 15px;
}

.graphs{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  canvas{
    padding: 10px;
  }
  margin-top: 0px;
}

.bar-canvas {
  width: 50%;
  margin-left: 10px;
  height: 400px;
}

.pie-canvas{
  width: 49%;
  height: 400px;
}

.pie-canvas, .bar-canvas{
  background-color: white;
}

.table{
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: white;
}

.bblock{
  margin-bottom: 15px;
  background-color: white;
  padding: 20px;

  .comments{
    margin-bottom: 40px;
    span{
      font-size: 12px;
    }
  }

  .new_comment{
    input:not(.btn){
      width: 85%;
      .btn{ width: 100px; }
      border-radius: 7px;
      border: 2px solid #E5E5E5;
      margin-bottom: 10px;
    }
  }
}
.buttons{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.btn-choice{
  margin-bottom: 8px;
  margin-left: 8px;
  font-size: 12px;
  border-radius: 30px;
  padding: 2px 25px 4px 25px;
  outline: none;
  height: 35px;
}
.result {
  display: none;
  // visibility: hidden;
}
.vote_btn{
  margin-top: 35px;
  margin-bottom: 150px;
  margin-left: 40px;
  border-radius: 30px;
  padding: 8px 25px;
}
.btn-choice:focus {
  outline: none;
}
.similar_posts p a{
  color: #5979f1;
  margin-bottom: 20px;
}

.delete, .likeit{
  // position: absolute;
  // bottom: 200px;
  margin-top: 20px;
  border-radius: 30px;
  padding: 7px 20px;
  margin-left: 10px;
}

.buttons_detail{
  position: absolute;
  bottom: 210px;
}

.circle{
  border-width: 0px;
}
.share{
  border-width: 0px;
}


// フレックス系



@media(max-width: 1200px){
  .about{
    h3{
      margin-top: 0px;
    }
  }
  header{
    #add-question{
      margin-left: 0px;
    }
    .container{
      .navbar{
        padding-right: 0px;
        padding-left: 0px;
        .normal{
          display: none;
        }
        .btn{
          padding-left: 29px;
          padding-right: 29px;
        }
      }
      .pic_only {
        display: inline;
        padding: 1px 33px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        font-size: 30px;
      }
    }
  }
  .graphs{ display: block;}
  .pie-canvas, .bar-canvas{
    width: 100%;
    height: 300px;
    margin: 0px auto 10px;
    background-color: white;
    padding: 5px;
  }
}





@media(max-width: 980px){
  header{
    .header-logo{
      margin-left: 5px;
    }
    .btn, form input{
      width: 100%;
      font-size: 12px;
      margin-bottom: 7px;
    }
    .home{
      margin-left: 0px;
    }
    #add-question{
      margin-left: 0px;
    }
  }
}




@media(max-width: 780px){
  .right_side{
    display: none;
  }
  .left_side{
    display: none;
  }
  .container{
    width: 100%;
    .home-container{

      .main_list{
        width: 100%;
        margin-left: 0px;
        h2{
          font-size: 18px;
        }
        p{
          font-size: 5px;
        }
      }
    }
  }
  .footer{
    padding-left: 0px;
  }
  header{
    .header-logo{
      margin-left: 5px;
    }
    .btn, form input{
      width: 100%;
      font-size: 12px;
      margin-bottom: 7px;
    }
    .home{
      margin-left: 0px;
    }
    #add-question{
      margin-left: 0px;
    }
  }
}




@media(max-width: 670px){
  header{
    .btn, form, input{
      width: 100%;
      font-size: 12px;
      margin-bottom: 7px;
    } 
    .container{
      .navbar{
        .btn {
          width: 50%;
          padding-left: 10px;
        }
        .pic_only{
          display: none;
        }
        .normal{
          font-size: 12px;
          line-height: 23px; 
          display: flex;
        }
        img{
          margin-right: 5px;
        }
        .answered{
          margin-left: 0px;
        }
      }
    }
  }
  .home-container{
    width: 100%;
  }
  .container{
    width: 100%;
    // .home-container{
    //   .detail_container{
    //     .buttons{
    //       display: flex;
    //       justify-content: center;c
    //     }
    //   }
    // }
  }
  .date{
    font-size: 5px;
  }
  .main_list{
    .onepost{
      h4{
        font-size: 15px;
      }
      p .date{
        font-size: 7px;
      }
      label{
        font-size: 10px;
      }
    }
  }
  .container{
    .add{
      .buttons{
        .btn{
          width: 50%;
          height: 35px;
          font-size: 11px
        }
      }
    }
    h3{
      font-size: 20px;
    }
    .radio{
      font-size: 10px;
      padding: 0px 15px;
      border-radius: 15px;
      // justify-content: center;
      display: flex;
    }
    .btn-choice{
      justify-content: center;
      display: flex;
      margin: 0px auto 8px;
    }
    .vote_btn{
      font-size: 15px;
      padding: 5px 15px;
      border-radius: 15px;
      display: flex;
      margin: 20px auto 40px;
    }
    p{
      font-size: 10px;
    }
    label{
      font-size: 15px;
    }
  }
  pre{
    font-size: 10px;
  }
  .messages{
    margin: 5px 10px;
    font-size: 7px;
  }
  .search{
    display: none;
  }
  .table{
    width: 100%;
  }
  .bblock{
    h2{
      font-size: 22px;
    }
    span{
      font-size: 12px;
    }
    p{
      font-size: 12px;
    }
  }
  .center{ text-align: center;}
  // .delete, .like{
  //   position: relative;
  //   bottom: -20px;
  //   margin-top: 100px;
  //   display: flex;
  //   margin: auto;
  // } 
  .detail_container{
    .your_vote{
      font-size: 10px;
      color: yellowgreen;
      display: flex;
      margin: auto;
    }
    .buttons_detail{
      position: absolute;
      bottom: 190px;
      left: 50%;
      margin-left: -105px;
      .btn{
        font-size: 12px;
      }
      .button_center{
        margin-left: 55px;
      }
    }
  }
  .footer {
    .container{
      padding-top: 0px;
      padding-bottom: 0px;
    }
    float: none;
    background-color: red;
    height: 150px;
    width: 100%;
    padding-top: 20px;
    position: absolute;
    bottom: 0px;
  
    .footer-logo{
      float: none;
    }
  
    .footer-list{
      float: none;
      padding-top: 20px;
      padding-left: 0px;
  
      li{
        list-style: none;
        padding-bottom: 10px;
        color: white;
        font-size: 12px;
      }
    }
  }
  .buttons_normal{
    display: none;
  }
  .buttons_small{
    display: flex;
    justify-content: center;
    .btn{
      font-size: 12px;
    }
  }

  .add-modal-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  
    .modall {
      position: absolute;
      top: 30%;
      left: 20%;
      right: 20%;
      background-color: #F0EEEE;
      border-radius: 30px;
      width: auto;
      height: auto;
      text-align: center;
      padding: 10px 5px 10px 5px;
  
      .close {
          position: absolute;
          top: 10px;
          right: 11px;
          color: rgba(0, 0, 0, 1);
          cursor: pointer;
      }
  
      #add-form {
        width: 90%;
        margin: 20px auto;
        padding: 0px 10px;
  
        h4{
          letter-spacing: 1px;
          font-size: 10px;
        }
        .whichone{
          margin-top: 5px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 5px;
        }
        .delete-post, .close-modal{
          justify-content: center;
          margin: 0 5px;
        }
        .btn{
          width: 70px;
          height: 35px;
          font-size: 12px;
          padding: 0px 10px;
          border-radius: 30px;
        }
      }
  
    }
  }
  .page-item{
    font-size: 10px;
  }
  // .page{
  //   display: flex;
  //   justify-content: center;
  // }
}

@media(max-width: 450px){
  .main_list{
    .onepost{
      label{
        font-size: 12px;
      }
      p{
        font-size: 12px;
      }
      h4{
        font-size: 20px;
      }
    }
  }
}