
// NEW_CHOOSEONE

.cali {
  font-family: lust-script, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.cali2{
  font-family: latienne-pro, serif;
  font-style: normal;
  font-weight: 400;
}

.onepost{
  padding: 10px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 0px 5px rgba(160, 160, 160, 0.7));
  background-color: white;
  position: relative;
  border-radius: 15px;

  .link::after{
    position: absolute;
    top: 45px; right: 0; bottom: 0; left: 0;
    z-index: 1;
    pointer-events: auto;
    content: '';
    background-color: transparent;
  }

  a:hover{
    color: black;
    background:linear-gradient(transparent 70%, #45cafb 0%);
    text-decoration: none;
  }

  .link{
    color: black,
  }

  p{
    font-size: 12px;
  }

  .date{
    font-family: georgia, serif;
    font-size: 12px;
    color: #457AFB;
  }
}

@media(max-width: 500px){
  .onepost{
    border-radius: 0px;
    margin-bottom: 5px;
    padding-bottom: 1px;
    filter: none;

    h4{
      font-size: 16px;
      font-weight: 600;
    }
    p{
      font-size: 5px;
    }
    .date{
      font-size: 5px;
      color: #457AFB
    }
    label, input{
      font-size: 15px;
    }
  }
}

.side_question{
  margin-left: 10px;
  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h6{
    margin-top: 8px;
    margin-left: 2px;
    font-size: 12px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  label{
    font-size: 5px;
    padding: 0px;
    margin: 0px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  position: relative;

  .link::after{
    position: absolute;
    top: 0px; right: 0; bottom: 0; left: 0;
    z-index: 1;
    pointer-events: auto;
    content: '';
    background-color: transparent;
  }
}



// ヘッダー

.header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 12000;
  background-color: red;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  // display: flex;
  .header-logo {
    margin-right: 36px;
  }
  .container{
    padding-top: 0px;
    padding-bottom: 0px;
    .navbar{
      padding-right: 0px;
      padding-left: 0px;
      .btn {
        height: 39px;
        margin-right: 0px;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
      }
      .btn :not(.home){
        margin-left: 0px;
      }
    }
    .voted{
      margin-left: 25px;
    }
    .pic_only{
      display: none;
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px;
    }
  }
}